body{
	background-image: url("/assets/images/van.png");
	background-color: black;
}

#heroOne{
	margin:5px;
	float:left;
}

#heroTitle{
	text-align:center;
	width:213px;
	background-color: #1aa3ff;
}

#heroImage{
	width:203px;
	border:solid;
	border-width: 5px;
	border-color:gray;
	background-color:orange;
	clear:both;
}
#heroImage:hover{

}

#heroTwo{
	margin:5px;
	float:left;
}
#hero2Title{
	clear:both;
	text-align:center;
	width:213px;
	background-color: red;
}

#hero2Image{
	width:203px;
	border:solid;
	border-width: 5px;
	border-color:gray;
	background-color:purple;
	clear:both;
}

#heroThree{
	margin:5px;
	float:left;
}
#hero3Title{
	text-align:center;
	width:213px;
	background-color: red;
}

#hero3Image{
	width:203px;
	border:solid;
	border-width: 5px;
	border-color:gray;
	background-color:green;
	clear:both;
}

#heroFour{
	margin:5px;
	float:left;
}
#hero4Title{
	text-align:center;
	width:213px;
	background-color: red;
}

#hero4Image{
	width:203px;
	border:solid;
	border-width: 5px;
	border-color:gray;
	background-color:purple;
	clear:both;
}

#heroFive{
	margin:5px;
	float:left;
}
#hero5Title{
	text-align:center;
	width:213px;
	background-color: #1aa3ff;
}

#hero5Image{
	width:203px;
	border:solid;
	border-width: 5px;
	border-color:gray;
	background-color:orange;
	clear:both;
}
#characterSelect{
	text-align:center;
	background-color:gray;
}
#container{
	width: 1120px;
	height: 800px;
	border:solid;
	border-width:5px;
	border-color: gray;
	background-color:#e0e0eb;
}